<h3>{{post.title}}</h3>
<p>{{post.body}}</p>
<div>
    <small>Created at: {{post.createdAt}}</small>
</div>
<div>
    <small>Author: {{post.creatorId.username}}</small>

</div>

<form action='/posts/{{post._id}}' method="post">
    <div>
        <label for="description"></label>
        <textarea name="body" id="description" placeholder="Write a comment"></textarea>
        <button>Send</button>
    </div>
</form>
{{#each comments}}
    <p>{{text}}</p>
{{/each}}


